# Python
__pycache__/
*.pyc
venv/
env/
*.pyo

# Node
node_modules/
dist/
build/

# Flask
flask_session/
instance/
flask_session/2029240f6d1128be89ddc32729463129

# Secrets
.env
*.env
.gitignore

# IDE
.vscode/
.idea/
.vscode/launch.json
