<!DOCTYPE html>
<html lang="vi">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Main</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/sidebar.css') }}">

    <link rel="icon" type="image/png" sizes="32x32" href="{{ url_for('static', filename='img/logo.png') }}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ url_for('static', filename='img/logo.png') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='img/logo.png') }}">
    <link rel="apple-touch-icon" href="{{ url_for('static', filename='img/logo.png') }}">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
    <link rel="stylesheet" href="https://unpkg.com/nes.css/css/nes.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined">
</head>

<body>
    {% include "components/sidebar.html" %}
    <canvas id="starfield"></canvas>
    <div class="container" autocomplete="off">
        <div class="search-section">
            <div class="search-row">
                <div class="input-box">
                    <input required type="text" id="barcode" autocomplete="nope" class="input">
                    <label class="user-label">Barcode</label>
                </div>
            </div>
            <div class="search-row">
                <div class="input-box">
                    <input required type="text" id="product_id" autocomplete="nope" class="input">
                    <label class="user-label">Quy cách</label>
                </div>
            </div>
            <div class="search-row">
                <div class="input-wrapper">
                    <input placeholder="Tìm kiếm..." class="input" id="clientSearch" autocomplete="nope" type="text">
                    <button class="search-icon-btn" type="button"> 
                        <span class="material-symbols-outlined">search</span>
                    </button>
                </div>
            </div>
        </div>

        <div class="table-container">
            <div class="table-scroll">
                <table>
                    <thead id="tableHead"></thead>
                    <tbody id="tableBody"></tbody>
                </table>
            </div>

            <div class="table-footer hidden">
                <div class="row-count">Số dòng: <span id="rowCount">0</span></div>
                <button class="btn-export-excel" id="exportExcelBtn">
                    <div class="btn-export-excel-wrapper">
                        <div class="text">Xuất Excel</div>
                        <span class="icon">
                            <svg xmlns="http://www.w3.org/2000/svg" aria-hidden="true" role="img" width="2em" height="2em" preserveAspectRatio="xMidYMid meet" viewBox="0 0 24 24">
                                <path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 15V3m0 12l-4-4m4 4l4-4M2 17l.621 2.485A2 2 0 0 0 4.561 21h14.878a2 2 0 0 0 1.94-1.515L22 17"></path>
                            </svg>
                        </span>
                    </div>
                </button>
            </div>
        </div>

        <!-- ===== OUTPUT BARCODE CONTAINER ===== -->
        <div id="outputContainer" class="table-container output-barcode">
            <div class="output-header" id="outputHeader">
                <div class="output-header-content" id="outputHeaderContent">Đang tải...</div>
                <button class="close-btn" onclick="closeShowBarcodeWindow()">&times;</button>
            </div>

            <div class="output-table-scroll">
                <table id="outputBarcodeTable" class="table table-striped">
                    <thead></thead>
                    <tbody id="outputBarcodeTableBody"></tbody>
                </table>
            </div>
            <div class="output-footer">
                <div class="row-count">Số dòng: <span id="outputRowCount">0</span></div>
                <button class="btn-export-excel" id="exportOutputExcelBtn">
                    <div class="btn-export-excel-wrapper">
                        <div class="text">Xuất Excel</div>
                        <span class="icon">
                            <svg xmlns="http://www.w3.org/2000/svg" aria-hidden="true" role="img" width="2em" height="2em" preserveAspectRatio="xMidYMid meet" viewBox="0 0 24 24">
                                <path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 15V3m0 12l-4-4m4 4l4-4M2 17l.621 2.485A2 2 0 0 0 4.561 21h14.878a2 2 0 0 0 1.94-1.515L22 17"></path>
                            </svg>
                        </span>
                    </div>
                </button>
            </div>
        </div>
    </div>

    <!-- Context Menu -->
    <div id="contextMenu" class="context-menu">
        <div class="context-menu-item" data-action="inputBarcode" style="display: none;">Kiểm tra tem quét vào</div>
        <div class="context-menu-item" data-action="feedRecords" style="display: none;">Lịch sử sử dụng tem</div>
        <div class="context-menu-item" data-action="checkScanBarcodeHistory" style="display: none;">Lịch sử quét tem</div>
        <div class="context-menu-item" data-action="checkBarcodeWorkOrder" style="display: none;">Xem đơn điều động</div>
        <div class="context-menu-item" data-action="checkBarcodeTransfer" style="display: none;">Kiểm tra vận chuyển tem</div>
        <div class="context-menu-item" data-action="checkBarcodeExtendDateTime" style="display: none;">Kiểm tra gia hạn</div>
        <div class="context-menu-item" data-action="fetchOriginalInfo" style="display: none;">Kiểm tra thông tin gốc</div>

        <div class="context-menu-item" data-action="outputBarcodeByFeedRecords" style="display: none;">Xem tem đầu ra</div>

        <div class="context-menu-item" data-action="searchWorkOrderByRecipe" style="display: none;">Kiểm tra đơn điều động</div>

        <div class="context-menu-item" data-action="outputByBarcode" style="display: none;">Tem đầu ra của mã MES</div>
        <div class="context-menu-item" data-action="outputByRecipe" style="display: none;">Tem đầu ra của mã MES</div>
    </div>

    <a href="#" id="astronaut-float-btn" title="Astronaut Tips">
        <div data-js="astro" class="astronaut">
            <div class="head"></div>
            <div class="arm arm-left"></div>
            <div class="arm arm-right"></div>
            <div class="body">
                <div class="panel"></div>
            </div>
            <div class="leg leg-left"></div>
            <div class="leg leg-right"></div>
            <div class="schoolbag"></div>
        </div>
    </a>

    <!-- Speech Bubble for NES button -->
    <div id="speech-bubble" class="speech-bubble hidden">
        <div class="speech-bubble-content">
            <span id="speech-bubble-text">&times;</span>
        </div>
    </div>

    <script>
        // Store user_id, user_ip and version for use later
        const userId = '{{ user_id }}';
        const userIp = '{{ user_ip }}';
        const version = '{{ version }}';
    </script>
    <script src="https://cdn.jsdelivr.net/npm/xlsx/dist/xlsx.full.min.js"></script>

    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
    <script src="{{ url_for('static', filename='js/sidebar.js') }}"></script>

</body>

</html>